In [25]:
import os
import pandas as pd
from ydata_profiling import ProfileReport
from logging import getLogger, basicConfig, INFO

logger = getLogger(__name__)
basicConfig(level=INFO, format="%(asctime)-15s %(message)s")

In [28]:
df_raw = pd.read_csv("./data/census.csv")
df_raw.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
profile = ProfileReport(df_raw, title="Profiling Report 1")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/andrea.vitali/miniconda3/envs/mlops-render-deploy/lib/python3.12/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: ' Bachelors'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [8]:
df_raw.drop_duplicates(inplace=True)
profile = ProfileReport(df_raw, title="Profiling Report 2")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/andrea.vitali/miniconda3/envs/mlops-render-deploy/lib/python3.12/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: ' Bachelors'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [31]:
for col in df_raw.columns:
    new_col = col.strip()
    logger.info(f"INFO: renaming '{col}' to '{new_col}'")
    df_raw[new_col] = df_raw.pop(col)
    try:
        logger.info(f"INFO: trying stripping {new_col} (type {df_raw[new_col].dtype}) values")
        df_raw[new_col] = [val.strip() for val in df_raw[new_col].values.tolist()]
    except:
        logger.info(f"INFO: skiped stripping of {new_col} (type {df_raw[new_col].dtype}) values")

2024-05-24 10:34:11,381 INFO: renaming ' fnlgt' to 'fnlgt'
2024-05-24 10:34:11,393 INFO: trying stripping fnlgt (type int64) values
2024-05-24 10:34:11,402 INFO: skiped stripping of fnlgt (type int64) values
2024-05-24 10:34:11,403 INFO: renaming ' education' to 'education'
2024-05-24 10:34:11,404 INFO: trying stripping education (type object) values
2024-05-24 10:34:11,410 INFO: renaming ' education-num' to 'education-num'

2024-05-24 10:34:11,412 INFO: trying stripping education-num (type int64) values
2024-05-24 10:34:11,423 INFO: skiped stripping of education-num (type int64) values
2024-05-24 10:34:11,425 INFO: renaming ' marital-status' to 'marital-status'
2024-05-24 10:34:11,427 INFO: trying stripping marital-status (type object) values
2024-05-24 10:34:11,433 INFO: renaming ' occupation' to 'occupation'
2024-05-24 10:34:11,434 INFO: trying stripping occupation (type object) values
2024-05-24 10:34:11,440 INFO: renaming ' relationship' to 'relationship'
2024-05-24 10:34:11,441 INFO: trying stripping relationship (type object) values
2024-05-24 10:34:11,447 INFO: renaming ' race' to 'race'
2024-05-24 10:34:11,449 INFO: trying stripping race (type object) values
2024-05-24 10:34:11,455 INFO: renaming ' sex' to 'sex'
2024-05-24 10:34:11,458 INFO: trying stripping sex (type object) values
2024-05-24 10:34:11,465 INFO: renaming ' capital-gain' to 'capital-gain'
2024-05-24 10:34:11,467 INFO: trying stripping capital-gain (type int64) values
2024-05-24 10:34:11,470 INFO: skiped stripping of capital-gain (type int64) values
2024-05-24 10:34:11,471 INFO: renaming ' capital-loss' to 'capital-loss'
2024-05-24 10:34:11,473 INFO: trying stripping capital-loss (type int64) values
2024-05-24 10:34:11,474 INFO: skiped stripping of capital-loss (type int64) values
2024-05-24 10:34:11,475 INFO: renaming ' hours-per-week' to 'hours-per-week'
2024-05-24 10:34:11,477 INFO: trying stripping hours-per-week (type int64) values
2024-05-24 10:34:11,478 INFO: skiped stripping of hours-per-week (type int64) values
2024-05-24 10:34:11,478 INFO: renaming ' native-country' to 'native-country'
2024-05-24 10:34:11,480 INFO: trying stripping native-country (type object) values
2024-05-24 10:34:11,486 INFO: renaming ' salary' to 'salary'
2024-05-24 10:34:11,489 INFO: trying stripping salary (type object) values
2024-05-24 10:34:11,495 INFO: renaming 'age' to 'age'
2024-05-24 10:34:11,497 INFO: trying stripping age (type int64) values
2024-05-24 10:34:11,498 INFO: skiped stripping of age (type int64) values
2024-05-24 10:34:11,499 INFO: renaming 'workclass' to 'workclass'
2024-05-24 10:34:11,500 INFO: trying stripping workclass (type object) values

In [35]:
df_raw.to_csv("./data/census_clean.csv")